{% macro menuitem(item) %}
  {% import _self as self %}
  {% if item.current %}
    <li class="breadcrumb-item active" aria-current="page">
      {{ item.title }}
    </li>
  {% endif %}
  {% if item.current_item_ancestor %}
    {% if item.link == '#' %}
      <li class="breadcrumb-item active">{{ item.title }}</a>
    {% else %}
      <li class="breadcrumb-item"><a href="{{ item.link }}">{{ item.title }}</a></li>
    {% endif %}
    {% for child in item.children %}
      {{ self.menuitem(child) }}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% import _self as self %}
<nav class="bg-white pt-2" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">

      </a>
    </li>
    {% for item in menu.items %} {{ self.menuitem(item) }} {% endfor %}
  </ol>
</nav>
