<nav class="navbar navbar-expand-md w-100 flex-column pt-3">
  <div class="container d-flex w-100">
    <a class="navbar-brand bg-white p-0 mr-3 border-0" href="{{ site.link }}">
      <img src="{{ site.icon }}" alt="Logo OUaPRŠ">
    </a>
    <div class="flex-grow-1 d-flex bg-dark-blue navbar-dark p-2 justify-content-between">
      <h1 class="main-title m-2 d-inline-block">
        <div class="text-primary">Odborné učiliště</div>
        <div class="text-blue">a Praktická škola</div>
        <div class="text-white">Mohelnice, Vodní 27</div>
      </h1>

      <form class="d-none d-md-block align-self-start ml-auto form-inline mt-2" method="get" action="/">
        <div class="form-group mb-0">
          <label for="search" class="sr-only">Co chcete vyhledat?</label>
          <div class="input-group">
            <input type="search" name="s" id="search" class="form-control" placeholder="Vyhledávání">
            <div class="input-group-append">
              <button class="btn btn-light" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 22 22">
                  <path style="color:#4d4d4d;fill:currentColor;fill-opacity:1;stroke:none"
                        d="M 9 3 C 5.6759952 3 3 5.6759952 3 9 C 3 12.324005 5.6759952 15 9 15 C 10.481205 15 11.830584 14.465318 12.875 13.582031 L 18.292969 19 L 19 18.292969 L 13.582031 12.875 C 14.465318 11.830584 15 10.481205 15 9 C 15 5.6759952 12.324005 3 9 3 z M 9 4 C 11.770005 4 14 6.2299952 14 9 C 14 11.770005 11.770005 14 9 14 C 6.2299952 14 4 11.770005 4 9 C 4 6.2299952 6.2299952 4 9 4 z "
                        />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </form>

      <div class="d-md-none">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="collapse navbar-collapse navbar-expand-md p-3 p-md-0 flex-column align-items-start w-100" id="navbar">
      <form class="d-md-none ml-auto py-md-0 px-lg-2 form-inline" method="get" action="/">
        <div class="form-group mb-0">
          <label for="search" class="sr-only">Co chcete vyhledat?</label>
          <div class="input-group">
            <input type="search" name="s" id="search" class="form-control" placeholder="Vyhledávání">
            <div class="input-group-append">
              <button class="btn btn-light" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 22 22">
                  <path style="color:#4d4d4d;fill:currentColor;fill-opacity:1;stroke:none"
                        d="M 9 3 C 5.6759952 3 3 5.6759952 3 9 C 3 12.324005 5.6759952 15 9 15 C 10.481205 15 11.830584 14.465318 12.875 13.582031 L 18.292969 19 L 19 18.292969 L 13.582031 12.875 C 14.465318 11.830584 15 10.481205 15 9 C 15 5.6759952 12.324005 3 9 3 z M 9 4 C 11.770005 4 14 6.2299952 14 9 C 14 11.770005 11.770005 14 9 14 C 6.2299952 14 4 11.770005 4 9 C 4 6.2299952 6.2299952 4 9 4 z "
                        />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </form>

      <div style="padding-left:7.25rem" class="d-flex flex-column flex-md-row w-100 pt-1 justify-content-start">
        <div>
          {% block breadcrumbs %}
          {% endblock %}
        </div>
        <ul class="navbar-nav">
          {% for item in menu.items %}
            {% if item.children %}
              <li class="{{ 'nav-item dropdown '~item.class }}">
                <a class="nav-link dropdown-toggle"
                   href="{{ item.link }}" id="dropdown{{ item.title | sanitize }}"
                   role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false"
                 >{{ item.title }}</a>
                   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown{{ item.title | sanitize }}">
                     {% for child in item.children %}
                       <a class="{{ 'dropdown-item '~child.class }}" href="{{ child.link }}">{{ child.title }}</a>
                     {% endfor %}
                   </div>
              </li>
            {% else %}
              <li class="{{ 'nav-item '~item.class }}">
                <a class="nav-link" href="{{ item.link }}">{{ item.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</nav>
